name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.6.8
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: ${{APP_NAME}}
          heroku_email: ${{EMAIL}}
          healthcheck: "https:/${{APP_NAME}}.herokuapp.com/health"
          checkstring: "ok"
          delay: 10
          rollbackonhealthcheckfailed: true
          usedocker: true
        env:
          APP_NAME: "test-walmart-search"
          EMAIL: "alxmlo@gmail.com"
