name: Build and Publish Docker Image

on:
  push:
    branches:
      - main

env:
  APP_NAME: "test-walmart-search"
  ACCOUNT: "alxmlo"

jobs:
  build-and-publish:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Get short sha
        id: tags
        run: |
          echo ::set-output name=sha_short::$(git rev-parse --short=4 ${{github.sha}})
      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: ${{env.ACCOUNT}}/${{env.APP_NAME}}
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
          tags: ${{TAG}}
        env:
          TAG: ${{steps.tags.outputs.sha_short}}        
